@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
}
.header{
  padding: 20px;
  padding-left: 40px;
  margin-bottom: 20px;
  border-top: solid 4px pink;
  background: paleturquoise;
}

.main{
  display: flex;
  padding-left: 150px;
  background: ghostwhite;
}

.plaintext{
  text-align: center;
  margin: 0px 50px;
  background: lavender;
}

.key{
  text-align: center;
  margin: 70px 0;
  background: pink;
}
.key select{
  font-size: 20px;
  width: 50px;
  height: 30px;
}

.ciphertext{
  text-align: center;
  margin-left: 50px;
  background: azure;
}

textarea{
  font-size: 20px;
}

.button_box{
  display: flex;
  margin-top: 10px;
  margin-left: 620px;

  width: 145px;
  height: 100px;
  background: plum;
}

.button{
  margin:0 2px;
  /* width: 70px;
  height: 60%; */
}

.pink{
  background: linear-gradient(90deg, pink, mistyrose);
}
